.colorBar {
    background-color: #3993ee;
    width: 100%;
    height: 8vh;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
  }
  .title {
    margin-left: 40%;
    align-items: center;
    justify-content: center;
    color: #000;
  }
  
  .singleForm {
    display: flex;
    align-items: center;
  }
  .block {
    margin: 12px;
  }
  .inputDiv {
    width: 100%;
  }
  .formClass {
    margin-top: 20px;
    margin: 50px;
  }
  .labelTitle {
    font-size: medium;
  }
.alltable{
  display: flex;
}  
.table1{
  margin: 10px;
}

.table1{
  border-radius: 20px;
}
.table2{
  margin: 10px;
  border-radius: 20px;
}
.title{
  margin-left: 50%;
}
.method{
  height: 20px;
}
.factoryinselect{
  height: 50px;
}
.column{
  height: 50px;
}